- title "Add quips"
- content_for :head do
  = stylesheet_link_tag "quips/index"
- content_for :nav do
  = link_to "Back", @site
= render 'form'
%ul.quips
  - if @quips.empty?
    There's nothing here! Add something
  - @quips.each do |quip|
    %Li
      %span= quip.text
      = link_to 'Delete', site_quip_path(@site, quip), :method => :delete
