%h1 Listing quips
%table
  %tr
    %th Site
    %th Text
    %th
    %th
    %th

  - @quips.each do |quip|
    %tr
      %td= quip.site.name
      %td= quip.text
      %td= link_to 'Show', site_quip_path(@site, quip)
      %td= link_to 'Edit', edit_site_quip_path(@site, quip)
      %td= link_to 'Destroy', site_quip_path(@site, quip),         |
                   :confirm => 'Are you sure?', :method => :delete |

= link_to 'New Quip', new_site_quip_path(@site)
