<p id="notice"><%= notice %></p>

<p>
  <b>Site:</b>
  <%= @quip.site_id %>
</p>

<p>
  <b>Text:</b>
  <%= @quip.text %>
</p>


<%= link_to 'Edit', edit_site_quip_path(@site, @quip) %> |
<%= link_to 'Back', site_quips_path(@site) %>
