- content_for :head do
  = stylesheet_link_tag 'users/form'
= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  = render 'users/form/basic_info', :f => f unless @user.new_record?
  = render 'users/form/login_info', :f => f
  = render 'users/form/providers' if @user.new_record?
  .actions
    = f.submit "Remember me!"
    - if @user.new_record?
      %br/
      = link_to "Nah, I'm not important", next_url, :id => 'cancel'
