#header
  .greeting
    - if viewer
      = "Whatup, #{viewer.name || viewer.email}"
    - else
      = link_to "Log in", new_user_path
  #nav
    = yield :nav
    = link_to "Make a Hit", new_site_path, :class => 'persistent'
    = link_to "Random Hit", random_sites_path, :class => 'persistent'
    = link_to "Home", root_path, :class => 'persistent home'
  %h1= @title
