#header
  - if viewer
    .greeting
      = "Whatup, #{viewer.name}"
  #nav
    = yield :nav
    = link_to "Make a Hit", new_site_path, :class => 'persistent'
    = link_to "Random Hit", random_sites_path, :class => 'persistent'
    = link_to "Home", root_path, :class => 'persistent home'
  %h1= @title
