#header
  .greeting
    - if viewer
      Whatup,
      = link_to viewer.name || viewer.email, user_path(viewer)
      = link_to "[Edit]", edit_user_path(viewer), :class => 'small'
    - else
      = link_to "Log in", new_user_path, :class => 'login'
  #nav
    = yield :nav
    = link_to "Make a Hit", new_site_path, :class => 'persistent'
    = link_to "Random Hit", random_sites_path, :class => 'persistent'
    = link_to "Home", root_path, :class => 'persistent home'
  %h1= @title
