- content_for :head do
  = stylesheet_link_tag 'sites/form'
= form_for(@site) do |f|
  - if @site.errors.any?
    #error_explanation
      %ul
        - @site.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :name, :class => 'full_width',   |
                   :placeholder => "Name your site" |
  .field
    = f.label :slug, "http://oneh.it/"
    = f.text_field :slug, :class => 'url', :placeholder => "your_url"
  .actions
    = f.submit "Hit it!"
