- show_tips = local_assigns.fetch(:tips, true)
- content_for :head do
  = stylesheet_link_tag "sites/#{local_assigns[:style] || :form}"
  = javascript_include_tag "plugins/jquery.alphanumeric"
  = javascript_include_tag "sites/form"
= form_for(@site) do |f|
  - if @site.errors.any?
    #error_explanation
      %ul
        - @site.errors.full_messages.each do |msg|
          %li= msg

  .field.name
    = f.text_field :name, :class => 'full_width',   |
                   :placeholder => "Name your hit"  |
    = tip(:name) if show_tips
  = f.fields_for :quips, (@site.quips.first || @site.quips.build) do |q|
    .field.quip
      = q.hidden_field :nested, :value => true
      = q.text_field :text, :class => 'full_width',   |
                     :placeholder => "What's it say?" |
  .field.url
    = f.label      :url, "http://oneh.it/"
    = f.text_field :url, :class => 'url', :placeholder => "your_url"
    = tip(:url) if show_tips
  .actions
    = f.submit "Hit it!"
