- content_for :head do
  = stylesheet_link_tag 'sites/form'
= form_for(@site) do |f|
  - if @site.errors.any?
    #error_explanation
      %ul
        - @site.errors.full_messages.each do |msg|
          %li= msg

  .field.name
    = f.text_field :name, :class => 'full_width',   |
                   :placeholder => "Name your site" |
    = tip(:name)
  .field.url
    = f.label      :url, "http://oneh.it/"
    = f.text_field :url, :class => 'url', :placeholder => "your_url"
    = tip(:url)
  .actions
    = f.submit "Hit it!"
