- content_for :head do
  = google_font_link_tag 'Amaranth'
  = javascript_include_tag 'plugins/jquery.easing'
  = javascript_include_tag 'plugins/jquery.cycle.all.min'
  = javascript_include_tag 'sites/index'
  = stylesheet_link_tag 'sites/index'
.intro_container
  .intro
    .teaser
      %h1 OneH¡t
      %ol
        %li Build a silly site.
        %li Make the internet happy.
    .form
      %h2 Create your hit in 10 seconds or less
      = render 'form', :tips => false, :style => :quick_form
.examples
  %h2
    %span Latest Hits
  .cycle_container
    - @sites.each do |site|
      .site_container
        .site
          %h1= site.name
          %p= site.random_quip.text
          .link
            As seen at
            = link_to(site_url(site), site_path(site))

= link_to "Thanks!", thanks_path, :class => 'thanks'
