- content_for :head do
  = stylesheet_link_tag 'sites/index'
.intro
  .teaser
    %h1 OneH¡t
    %ol
      %li Build a silly site.
      %li Make the internet happy.
  .actions
    .action
      = link_to "Make a Hit", new_site_path
    .action
      = link_to "Random Hit", random_sites_path
.examples
  - @sites.each do |site|
    .site
      %h1= site.name
      %p= site.random_quip.text

= link_to "Thanks!", thanks_path, :class => 'thanks'
