- title @site.name, false
- content_for :head do
  = stylesheet_link_tag 'sites/show'
- if pending_site?(@site)
  - content_for :alert do
    %h1 Claim your Hit!
    %p
      Until you do, anyone on the internet can mess with it.
      Claim it now by
      - url = new_user_path(:next_url => site_path(@site))
      = link_to "Logging In", url
      or
      = link_to("Signing Up", url) + '.'
%h1
  = @site.name
  - if @site.editable_by?(viewer)
    = link_to "Edit Hit", edit_site_path(@site), :class => 'edit'
- if @quip
  .quip
    %p= @quip.text
    - if @site.editable_by?(viewer)
      = link_to "+ Add Another", site_quips_path(@site), :class => 'edit'
- else
  %p.empty
    There's nothing here!
    %br/
    = link_to "Add something", site_quips_path(@site)
= link_to "Another!", @site, :class => 'action' unless @site.singleton?
= render 'sites/share'
