- @title = @site.name
- content_for :head do
  = stylesheet_link_tag 'sites/show'
- content_for :nav do
  = link_to "Edit Site", edit_site_path(@site)
  = link_to "Edit Quips", site_quips_path(@site)
%p.quip
  = @site.random_quip.text
= link_to "Another!", @site
