!!! HTML
%html
  %head
    %title
      OneHit
      = '| ' + @title unless @title.blank?

    = stylesheet_link_tag 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'

    = hoptoad_javascript_notifier
    = javascript_include_tag :defaults

    = csrf_meta_tag
    = yield :head

    = render 'global/google_analytics'

  %body
    = render 'global/header'
    #content
      = yield
