!!! HTML
%html
  %head
    %title
      OneHit
      = '| ' + @title unless @title.blank?

    = stylesheet_link_tag 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'
    - stylesheets.each do |sheet|
      = stylesheet_link_tag sheet

    = hoptoad_javascript_notifier
    = javascript_include_tag :defaults
    = javascript_include_tag 'plugins/jquery.namespace'

    = csrf_meta_tag
    = yield :head

    = render 'global/google_analytics'
    = flan_js

  %body
    - unless (alert = yield :alert).blank?
      #alert= alert
    #content
      - if @title && @auto_header
        %h1= @title
      = yield
    = render 'global/footer'
    - if @include_fb_js
      %script{:type => "text/javascript",
              :src  => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
    - if @include_twitter_js
      %script{:type => "text/javascript",
              :src  => "http://platform.twitter.com/widgets.js"}
